@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

/* All epigraphs */
[epub|type~="epigraph"]{
	font-style: italic;
	hyphens: none;
	-epub-hyphens: none;
}
/* End all epigraphs */

/* Full-page epigraphs */
section[epub|type~="epigraph"]{
	text-align: center;
}

section[epub|type~="epigraph"] > *{
	display: inline-block;
	margin: auto;
	margin-top: 3em;
	max-width: 80%;
	text-align: initial;
}

@supports(display: flex){
	section[epub|type~="epigraph"]{
		align-items: center;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		justify-content: center;
		min-height: calc(98vh - 3em);
		padding-top: 3em;
	}

	section[epub|type~="epigraph"] > *{
		margin: 0;
	}
}
/* End full-page epigraphs */

/* Begin verse CSS */
[epub|type~="z3998:verse"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:verse"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:verse"] p > span + br{
	display: none;
}

p span.i3{
	padding-left: 4em;
	text-indent: -1em;
}

p span.i4{
	padding-left: 5em;
	text-indent: -1em;
}
/* End verse CSS */

.telegram{
	font-variant: all-small-caps;
}

abbr[epub|type~="se:era"]{
	font-variant: all-small-caps;
}

header{
	font-variant: small-caps;
	margin: 1em;
}

footer{
	margin-top: 1em;
	text-align: right;
}

ul{
	list-style-type: none;
	margin: 0;
	padding-left: 1em;
}

[epub|type~="z3998:recipient"],
[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}

[epub|type~="z3998:diary-entry"] > p:first-of-type{
	font-style: italic;
	text-indent: 0;
}

[epub|type~="z3998:diary-entry"]{
	margin-top: 1em;
}

#entry-1913-2-16 > p:last-of-type,
#entry-1915-11-8 > p:last-of-type,
#entry-1917-3-2 > div > p:last-of-type{
	font-style: italic;
	text-align: center;
	text-indent: 0;
}

#entry-1913-10-4 > div > p:last-of-type,
#entry-1913-11-8 > p:nth-last-of-type(2),
#entry-1914-11-20 > p:last-of-type,
#entry-1915-10-6 > div > p:last-of-type,
#part-3-3 > p:last-of-type{
	text-align: center;
	text-indent: 0;
}

#entry-1916-12-31 > div > blockquote > header > p span:nth-of-type(2){
	padding-left: 1em;
	text-indent: -1em;
}

#entry-1916-12-31 > div > blockquote > header > p span:last-of-type{
	padding-left: 4em;
	text-indent: -1em;
}
