@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

/* All epigraphs */
[epub|type~="epigraph"]{
	font-style: italic;
	hyphens: none;
	-epub-hyphens: none;
}

[epub|type~="epigraph"] em,
[epub|type~="epigraph"] i{
	font-style: normal;
}

[epub|type~="epigraph"] cite{
	font-style: normal;
	font-variant: small-caps;
	margin-top: 1em;
}

[epub|type~="epigraph"] cite i{
	font-style: italic;
}
/* End all epigraphs */

/* Full-page epigraphs */
section[epub|type~="epigraph"]{
	text-align: center;
}

section[epub|type~="epigraph"] > *{
	display: inline-block;
	margin: auto;
	margin-top: 3em;
	max-width: 80%;
	text-align: initial;
}

@supports(display: flex){
	section[epub|type~="epigraph"]{
		align-items: center;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		justify-content: center;
		min-height: calc(98vh - 3em);
		padding-top: 3em;
	}

	section[epub|type~="epigraph"] > *{
		margin: 0;
	}

	section[epub|type~="epigraph"] > * + *{
		margin-top: 3em;
	}
}
/* End full-page epigraphs */

/* Begin verse CSS */
[epub|type~="z3998:verse"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:verse"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:verse"] p > span + br{
	display: none;
}
/* End verse CSS */

header{
	font-variant: small-caps;
	margin: 1em;
	text-align: center;
}

[epub|type~="z3998:diary-entry"] > p:first-of-type{
	font-style: italic;
	text-indent: 0;
}

[epub|type~="z3998:diary-entry"]{
	margin-top: 1em;
}

#entry-1913-2-16 > p:last-of-type,
#entry-1915-11-08 > p:last-of-type,
#entry-1917-3-2 > div > p:last-of-type{
	font-style: italic;
	text-align: center;
	text-indent: 0;
}

#part-3-3 > p:last-of-type{
	text-align: center;
	text-indent: 0;
}
